input {
  height: 7vh;
  margin-top: 20%;
  border: 5px solid #4a7c59;
  color: #4a7c59;
  font-size: 1.3rem;
}
::placeholder {
  opacity: 0.3;
}
.div-intro-text {
  height: 15vh;
}
.intro-text {
  margin-top: 10%;
  padding: 2%;
  font-size: 1.7rem;
  color: #4a7c59;
  font-weight: 800;
}
.number-of-twits {
  font-size: 1.2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #31533b;
}
.error {
  font-size: 1rem;
  margin-top: 15%;
  margin-bottom: 5%;
  color: #ff6b6b;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 991px) {
  .div-intro-text {
    height: 15vh;
  }
  .intro-text {
    margin-top: 5%;
    font-size: 3rem;
    font-weight: 900;
  }
  input {
    margin-top: 15%;
    font-size: 3rem;
  }
  .number-of-twits {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .error {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .div-intro-text {
    height: 15vh;
  }
  .intro-text {
    margin-top: 5%;
    font-size: 4rem;
    font-weight: 900;
  }
  input {
    margin-top: 15%;
    font-size: 3rem;
    height: 8vh;
  }
  .number-of-twits {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .error {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .div-intro-text {
    height: 9vh;
  }
  .intro-text {
    margin-top: 5%;
    font-size: 4rem;
    font-weight: 900;
  }
  input {
    margin-top: 15%;
    font-size: 3rem;
    height: 9vh;
  }
  .number-of-twits {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .error {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
