.ri-more-2-fill {
  font-size: 2rem;
}

.booking-link {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74) !important;
}
.booking-link:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}
@media (min-width: 1281px) {
  .ri-more-2-fill {
    display: none;
  }
  .navbar-item {
    font-size: 1.3rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .ri-more-2-fill {
    display: none;
  }
  .navbar-item {
    font-size: 1.3rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}
